@model IEnumerable<EgoPadel.Models.Equipo>

@{
    ViewData["Title"] = "Buscar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Buscar</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FotoEscudo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puntos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tbody">
@foreach (var item in Model) {
    
        
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
        
    </tbody>
</table>
<script>
    let equipos = @Html.Raw(Json.Serialize(ViewBag.Reservas))
    let listaEquipos = JSON.parse(equipos);
    
    let listaEquiposDisponible = [];

    for(let i=0; i<listaEquipos.length; i++){
        
        let incluyeId = listaEquiposDisponible.indexOf(listaEquipos[i].Id);
        console.log(incluyeId);
        if(incluyeId == -1){
            listaEquiposDisponible.push(listaEquipos[i].Id);
        }
    }
    console.log(listaEquiposDisponible);
    
</script>