@model EgoPadel.Models.ViewModels.TorneoVM

@{
    ViewData["Title"] = "Torneos y Pozos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin-left:50px">
    <p><a asp-controller="Home" asp-action="Index">Home</a> / <a asp-action="">Torneo</a></p>
</div>
<div style="margin-left:15%;">
@if (User.IsInRole(WC.AdminRol))
{
    <p>
        <a class="btn btn-info" asp-action="Crear" style="position:absolute; right:5%;">Crear nuevo Torneo</a>
    </p>
}
<br />
<div class="text-center">
    <button class="btn btn-dark filter-button" data-filter="all">Todos</button>
    @*@foreach (var torneo in Model.Torneo)
    {
        <button class="btn btn-outline-secondary filter-button" data-filter="@torneo.Tipo.Replace(' ','_')">
            @torneo.Tipo
        </button>
    }*@
    <button class="btn btn-outline-secondary filter-button" data-filter="Torneo">Torneos</button>
    <button class="btn btn-outline-secondary filter-button" data-filter="Pozo">Pozos</button>
        <button class="btn btn-outline-secondary filter-button" data-filter="Individual">Individual</button>
        <button class="btn btn-outline-secondary filter-button" data-filter="Por_Equipos">Por Equipos</button>
</div>
    <div class=" contenedor-cards">
@foreach (var item in Model.Torneo) {
         <!-- Card-->
            <div class="card-torneo bg-white rounded shadow-sm filter @item.Tipo.Replace(' ','_') @item.Modalidad.Replace(' ','_')">

            <div class="card-body">
                <div ><label class="titulo-card"><span class="text-info h1">@Html.DisplayFor(modelItem => item.Tipo) @item.Modalidad<br /></span></label> </div>
            </div>
            <br>
            <div class="card-body p-1 px-3 row">
                <div class="col-6">
                    <span class="badge p-3 border w-100 text-dark" style="background-color:lavenderblush">Hora:<br><br>@Html.DisplayFor(modelItem => item.Fecha)</span>
                </div>
                <div class="col-6 border-0">
                    <span class="badge p-3 border w-100 text-dark" style="background-color:aliceblue">Número plazas: <br><br>@Html.DisplayFor(modelItem => item.NroPlazas)</span>
                </div>
                <div>
                    <br>
                </div>
                <div class="col-12 p-1">
                    <a asp-action="Detalle" asp-route-Id="@item.Id" class="btn btn-dark form-control btn-sm p-2" style="height:40px">Ver Detalle</a>
                </div>
            </div>
        </div>


		}
	</div>
    <div class="paginacion">
        <br />
        Página 1 de 1
    </div>
</div>


@section Scripts{
    <script>
            $(document).ready(function(){

            $(".filter-button").click(function(){

                var value = $(this).attr('data-filter');
                if(value == "all")
                {
                    $('.filter').show('1000');
                    $('.paginacion').show('1000');
                }
                else
                {
                    $(".filter").not('.'+value).hide('3000');  //se esconden los que no tengan el value
                    $('.filter').filter('.'+value).show('3000');  //se muestran los que si lo tengan
                    $('.paginacion').hide('1000');
                    $('footer').hide();
                }
            });

        });
    </script>
}