@model IEnumerable<EgoPadel.Models.UsuarioApp>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>

</head>
<h1>Clasificación Individual</h1>

<table class="table bg-light table-hover table-striped table-bordered " style="position: relative; left: 100px; ">
    <thead class="text-center">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puntos)
            </th>
        </tr>
    </thead>
    <tbody class ="text-center">
        @foreach (var item in Model)
        {
            @if (ViewBag.userId == item.Id)
            {
                <tr class="bg-success text-light">
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellidos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Puntos)
                </td>
                @if (User.IsInRole(WC.AdminRol))
                {
                    <td>
                        <a asp-action="Editar" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Borrar" asp-route-id="@item.Id">Borrar</a>
                    </td>
                }
            </tr>
            }else{
                <tr>
                    <td >
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellidos)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Puntos)
                    </td>
                    @if (User.IsInRole(WC.AdminRol))
                    {
                        <td>
                            <a asp-action="Editar" asp-route-id="@item.Id">Editar</a> |
                            <a asp-action="Borrar" asp-route-id="@item.Id">Borrar</a>
                        </td>
                    }
                </tr>
            }
        }
    </tbody>
</table>

