@model EgoPadel.Models.ViewModels.ProductoVM

@{
    ViewData["Title"] = "Tienda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/cardsTienda.css" asp-append-version="true" />

<div style="margin-left:50px">
    <p><a asp-controller="Home" asp-action="Index">Home</a> / Tienda</p>
</div>

<div style="margin-left:15%;">
@if (User.IsInRole(WC.AdminRol))        //Si es un admin permite añadir un producto nuevo
{
    <p>
            <a class="btn btn-info" style="position:absolute; right:5%;" asp-action="Crear">Crear nuevo producto</a>
    </p>
}



    <div class=" contenedor-cartas">
        @foreach (var item in Model.Producto)
        {
            <div class="card-tienda filter @item.Nombre.Replace(' ','_')">
                <img class="imagen-prod"  src="@WC.FotoProducto/@item.Foto" >
                <h4 class="titulo text-dark">@item.Nombre</h4>
                <span class="price text-dark"> @((item.Precio).ToString("c"))</span>
                <div class="col-12 p-1">
                    <a asp-action="Detalle" asp-route-Id="@item.Id" class="btn btn-warning form-control btn-sm p-2" style="height:40px">Ver Detalles</a>
                </div>
            </div>
            
        }
    </div>
</div>




