@model EgoPadel.Models.UsuarioApp

@{
    ViewData["Title"] = "Detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <script type="text/javascript" src="~/js/ClasEquipos.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.2.min.js"></script>

</head>
<div style="margin-left: 50px">
    <p><a asp-controller="Home" asp-action="Index">Home</a> / <a asp-controller="ClasInd" asp-action="Index">Clasificación Individual</a> / <a asp-action="">Detalles Usuario</a></p>
</div>
<table class="table bg-light table-hover table-striped table-bordered " style="position: relative; left: 100px;">
    <thead class="text-center">
        <tr>
            <th class="text-center" colspan="3" style="font-family: 'Bebas Neue', cursive; font-size: 40px;">Detalles</th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puntos)
            </th>
        </tr>
    </thead>
    <tbody class="text-center">
        <tr>
            <td>
                @Html.DisplayFor(model => model.Nombre)
            </td>
            <td>
                @Html.DisplayFor(model => model.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(model => model.Puntos)
            </td>
        </tr>
    </tbody>
</table>

<div style="margin-left: 50px;">
    @if (ViewBag.Equipo == true || User.IsInRole(WC.AdminRol))
    {
        <form asp-controller="Puntos" asp-action="CambiarPuntosIndividual" method="post">
            <div class="form-group">
                <label asp-for="Puntos" class="control-label"></label>
                <input asp-for="Puntos" class="form-control" />
                <span asp-validation-for="Puntos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Id" class="form-control" value="@Model.Id" type="hidden" />
            </div>
            <div class="form-group">
                <input type="submit" value="Actualizar" class="btn btn-primary" />
            </div>
        </form>
        <a asp-action="Editar" asp-route-id="@Model?.Id">Editar</a>
        <a asp-action="Borrar" asp-route-id="@Model?.Id">Borrar</a>
    }

    <a asp-action="Index">Back to List</a>
</div>
