@model IEnumerable<EgoPadel.Models.ReservaPista>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <script type="text/javascript" src="~/js/ClasEquipos.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.2.min.js"></script>

</head>

<p>
    <a asp-action="Crear">Crear nueva Reserva</a>
</p>
<table class="table bg-light table-hover table-striped table-bordered " style="position: relative; left: 100px; top: 20px;">
    <thead>
        <tr><th class="text-center" colspan="7" style="font-family: 'Bebas Neue', cursive; font-size: 40px;">Reservas</th></tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pista.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioApp.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaReserva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duracion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Pista.Numero)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.UsuarioApp.UserName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.FechaReserva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duracion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
               @* <a asp-action="Editar" asp-route-id="@item.Id">Editar</a> |*@
                <a asp-action="Borrar" asp-route-id="@item.Id">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
