@model IEnumerable<EgoPadel.Models.ParticipantesIndividual>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Torneo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioApp.UserName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Torneo.Tipo)  @Html.DisplayFor(modelItem => item.Torneo.Modalidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioApp.UserName)
            </td>
            <td>
                <a asp-action="Borrar" asp-route-id="@item.Id">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
