@model IEnumerable<EgoPadel.Models.ParticipantesIndividual>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <script type="text/javascript" src="~/js/ClasEquipos.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.2.min.js"></script>

</head>
<table class="table bg-light table-hover table-striped table-bordered " style="position: relative; left: 100px; top: 20px;">
    <thead class="text-center">
        <tr><th class="text-center" colspan="3" style="font-family: 'Bebas Neue', cursive; font-size: 40px;">Participantes Torneo Individual</th></tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Torneo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioApp.UserName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="text-center">
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Torneo.Tipo)  @Html.DisplayFor(modelItem => item.Torneo.Modalidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioApp.UserName)
            </td>
            <td>
                <a asp-action="Borrar" asp-route-id="@item.Id">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
