@using EgoPadel.Utilidades
@model EgoPadel.Models.ViewModels.ProductoUsuarioVM

<div style="margin-left:50px">
    <p><a asp-controller="Home" asp-action="Index">Home</a> / <a asp-action="Index">Carrito</a> / Detalle</p>
</div>

<form method="post" id="payment-form">
    <br />
    <div class="backgroundWhiteBorder">
        <div class="container">
            <div style="background-color:white; width:1000px; margin-left:19%; border-radius:1%">
                <div class="card-header bg-dark text-light ml-0 row container">
                    <div class="col-6 p-3">
                        <i class="fa fa-shopping-cart"></i> &nbsp;
                        Resumen de la Orden
                    </div>
                    <div class="col-6 text-end p-3">
                        <a asp-action="Index" class="btn btn-outline-info btn-sm">Regresar al Carrito</a>
                    </div>
                </div>
                <div class="card-body ">
                    <div class="container rounded p-2">
                        <div class="row">
                            <div class="col-12 col-lg-7 pb-4">
                                <div class="row">
                                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                                        <span class="text-info">Detalle del Usuario:</span>
                                    </h4>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3 text-black">
                                        <label>Usuario</label>
                                    </div>
                                    <div class="col-9">
                                        <input disabled asp-for="UsuarioApp.UserName" type="text" class="form-control" id="login" />
                                        <span asp-validation-for="UsuarioApp.UserName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3 text-black">
                                        <label>Nombre</label>
                                    </div>
                                    
                                    <div class="col-9">
                                        <input disabled asp-for="UsuarioApp.Nombre" type="text" class="form-control" id="nombre" />
                                        <span asp-validation-for="UsuarioApp.Nombre" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3 text-black ">
                                        <label>Apellidos</label>
                                    </div>
                                    <div class="col-9">
                                        <input disabled asp-for="UsuarioApp.Apellidos" type="text" class="form-control" id="apellidos" />
                                        <span asp-validation-for="UsuarioApp.Apellidos" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3 text-black">
                                        <label>Teléfono</label>
                                    </div>
                                    <div class="col-9">
                                        <input disabled asp-for="UsuarioApp.PhoneNumber" type="text" class="form-control" id="telefono" />
                                        <span asp-validation-for="UsuarioApp.PhoneNumber" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3 text-black">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-9">
                                        <input disabled asp-for="UsuarioApp.Email" type="text" class="form-control" id="email" />
                                        <span asp-validation-for="UsuarioApp.Email" class="text-danger"></span>
                                    </div>
                                </div>
                                


                            </div>
                            <div class="col-12 col-lg-5 row">
                                <div class="col-12">
                                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                                        <span class="text-info">Resumen:</span>
                                    </h4>
                                    <ul class="list-group mb-3">
                                        @{
                                            var totalOrden = 0.0;
                                        }
                                        @for (int i = 0; i < Model.ListaProducto.Count(); i++)
                                        {
                                            <li class="list-group-item d-flex justify-content-between">
                                                <input type="hidden" asp-for="@Model.ListaProducto[i].Id" />
                                                <input type="hidden" asp-for="@Model.ListaProducto[i].Nombre" />
                                                <input type="hidden" asp-for="@Model.ListaProducto[i].Precio" />
                                                <input type="hidden" asp-for="@Model.ListaProducto[i].Descripcion" />
                                                <div>
                                                    <h6 class="my-0">@Model.ListaProducto[i].Nombre</h6>
                                                    <small class="text-muted">Precio: @Model.ListaProducto[i].Precio.ToString("c")</small>

                                                </div>
                                            </li>

                                            totalOrden += Model.ListaProducto[i].Precio;
                                        }

                                            <li class="list-group-item d-flex justify-content-between bg-white">
                                                <small class="text-info">Total (€)</small>
                                                <strong class="text-info">@totalOrden.ToString("c") </strong>
                                            </li>

                                    </ul>
                                </div>
                                <div class="col-12">
                                    <div class="wrapper">
                                        <div class="checkout container">
                                            <div id="dropin-container"></div>
                                            <input type="hidden" id="nonce" name="payment_method_nonce" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-12 col-md-5 offset-md-7 d-flex justify-content-between align-items-center ">
                            <button type="submit" class="m-3  btn btn-primary form-control">Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="https://js.braintreegateway.com/web/dropin/1.34.0/js/dropin.min.js"></script>
    <script>
        const form = document.getElementById('payment-form');
        const client_token = "@ViewBag.ClientToken";

        braintree.dropin.create({
            authorization: client_token,
            container: '#dropin-container'
        }, (error, dropinInstance) => {
            if (error) console.error(error);

            form.addEventListener('submit', event => {
                event.preventDefault();

                dropinInstance.requestPaymentMethod((error, payload) => {
                    if (error) console.error(error);

                    // Step four: when the user is ready to complete their
                    //   transaction, use the dropinInstance to get a payment
                    //   method nonce for the user's selected payment method, then add
                    //   it a the hidden field before submitting the complete form to
                    //   a server-side integration
                    document.getElementById('nonce').value = payload.nonce;
                    form.submit();
                });
            });
        });

    </script>
}

